@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root,
    .light {
        --brand: 353 55% 52%;

        --background: 0 0% 0%;
        --foreground: 0 0% 95%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 75%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 0 0% 15%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 0 0% 12.5%;
        --input: 0 0% 12.5%;
        --ring: 346.8 77.2% 49.8%;
        --radius: 0.5rem;
        --scrollbar: 0 0% 12.5%;
    }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

body {
    font-family: 'Inter';
}